.shipMidEW {
	background-image: url('img/ships/MidEW.png');
}

.shipMidNS {
	background-image: url('img/ships/MidNS.png');
}

.shipNoseEW {
	background-image: url('img/ships/NoseEW.png');
}

.shipNoseNS {
	background-image: url('img/ships/NoseNS.png');
}

.shipOneShip {
	background-image: url('img/ships/OneShip.png');
}

.shipTailEW {
	background-image: url('img/ships/TailEW.png');
}

.shipTailNS {
	background-image: url('img/ships/TailNS.png');
}